dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.bak
*.y
*.x
AbsCAL.hs
DocCAL.txt
LexCAL.hs
SkelCAL.hs
ParCAL.hs
PrintCAL.hs
TestCAL.hs
TestCAL
ErrM.hs
Makefile
*_flymake.hs
CreateActor
my_actor.cal
.stack-work/
